@import "functions";

$green: #02d410;
$red: #f12a27;
$highlight_bg: #ccc;
$highlight_color: #272af2;
$grey: #555;

BODY {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size: 100%;
  line-height: 1.2em;
  color: #212121;
  @include zero;

  @include respondTo(desktop) { font-size: 100%; }
  @include respondTo(retina) { font-size: 105%; }
  @include respondTo(tablet) { font-size: 85%; }
  @include respondTo(smallScreen) { font-size: 95%; }
  @include respondTo(laptop) { font-size: 90%; }
  @include respondTo(smartphone) { font-size: 85%; }

}

DIV	{
  @include zero;
}

A	{
  //text-decoration:none;
  color: inherit;
}

H1,H2,H3,H4,H5,H6{
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  padding:0;
  margin:0;
}

H1{font-size:2.8em;line-height:1em;letter-spacing: 4px;}
H2{font-size:2.4em;line-height:1em;letter-spacing: 4px;}
H3{font-size:2.0em;line-height:1em;letter-spacing: 3px;}
H4{font-size:1.8em;line-height:1em;letter-spacing: 3px;}
H5{font-size:1.3em;line-height:1em;letter-spacing: 2px;}
H6{font-size:1.0em;line-height:1em;letter-spacing: 0px;display:inline-block;}

.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
/* IE Mac/Win fixes below */
.clear-fix {
  display: inline-block; /* For IE/Mac */
}
/* Hides from IE/Mac \*/
* html .clear-fix { height: 1%; }
.clear-fix { display: block; }
/* End hide from IE/Mac */

.float-right{
  float:right;
}

.float-left{
  float:left;
}

.aligncenter{
  text-align: center;
}

.alignright{
  text-align: right;
}

.alignleft{
  text-align: left;
}

.hidden{
  opacity:0;
  display:none;
}

#main-logo{
  width:100px;
  height:auto;
}

.ui-login-box-con{
  display:inline-block;
}

.ui-login-box{
  display:inline-block;
  padding:25px;
  background: #fff;
  color: #222;
  //border:1px solid #aaa;
  margin:10px;
  width:217px;
  @include box-shadow(rgba(#000,0.4) 0px 2px 4px);

  &.no-border{
    border:0px;
  }

  .switch{
    display: block;
    width:auto;
    text-align: right;
    padding-bottom:0px;
    line-height:1.8em;

    i{
      font-size:1.6em;
      line-height:1.8em;
      padding:3px 10px;
      cursor:pointer;
    }
  }

  .header{
    display: block;
    text-decoration: none;
    margin:-25px;
    margin-bottom:10px;
    padding:20px 25px;
    font-size:16px;
    line-height:16px;
    background: #222;
    color:#fff;
  }

  input[type="text"], input[type="password"]{
    border:0;
    border-radius: 0;
    border-bottom:1px solid $red;
    margin:5px 0px;
  }
}


#debug{
  position: fixed;
  top: 0px;
  right: 0px;
  padding:20px;
  font-size:10px;
  font-weight: 300;
  line-height: 12px;
  color:#000;
  z-index: 2001;
  background: rgba(#fff, 0.6);
  display:inline-block;
}

.widthSet{
  display: inline-block;
  vertical-align: top;
}

.width-5{       width:5%;       @extend .widthSet;    }
.width-7{       width:7%;       @extend .widthSet;    }
.width-10{      width:10%;      @extend .widthSet;    }
.width-13{      width:13.85%;   @extend .widthSet;    }
.width-15{      width:15%;      @extend .widthSet;    }
.width-20{      width:20%;      @extend .widthSet;    }
.width-25{      width:25%;      @extend .widthSet;    }
.width-33{      width:33%;      @extend .widthSet;    }
.width-40{      width:39%;      @extend .widthSet;    }
.width-50{      width:48%;      @extend .widthSet;    }
.width-60{      width:60%;      @extend .widthSet;    }
.width-66{      width:65%;      @extend .widthSet;    }
.width-75{      width:73%;      @extend .widthSet;    }
.width-80{      width:78%;      @extend .widthSet;    }

#company-logo{
  max-height: 160px;
  width: auto;
  max-width: 300px;
}

.center-content{
  min-width:1088px;
}

.ui-list{
  list-style: none;
  padding:0;
  margin:0;

  li{
    display:block;
    margin:0;
    white-space: nowrap;
    padding:1.3%;

    dl{
      padding:0;
      margin:0;

      dt{
        margin:0;
        overflow: hidden;
        padding:0;

        small{
          opacity:0.5;
        }
      }

      dd{
        margin:0;
        padding:0;
        text-align: center;
      }
    }

  }

  &.header{
    li{
      font-weight:500;
      background:#fff;
      color:#222;
      border:1px solid #aaa;
      overflow:hidden;

      dd.active{
        @include calc('padding-top', '1.3%  + 1px');
        @include calc('padding-bottom', '1.3% - 2px');
        margin: -1.3% 0px;
        @include calc('margin-top', '-1.3% - 1px');
        background: $highlight_bg;
        color: $highlight_color;
        border-bottom: 1px solid $red;
        @include box-shadow($red 0px 2px 0px);
      }

      dt.active{
        font-style:italic;
      }

      dd{
        cursor:pointer;
      }

      dt{
        cursor:pointer;
      }
    }
  }

  &.body{
    li{
      font-weight:400;
      background:#fff;
      color:#222;
      padding:0.9% 1.7%;

      &.grey-bg{
        background:#ddd;
      }

      &:hover{
        background:#444;
        color:#fff;

        .red{
          color:#ff4a47;

          small{
            color:#fff;
          }
        }
      }

      .red{
        color:$red;

        small{
          color:#222;
        }
      }

      .green{
        color: $green;
      }

      .grey{
        color: $grey;
      }
    }
  }

}

.ui-banner{
  height:600px;
  width:185px;
  background: rgba(#fff, 0);
  display:inline-block;
  position: absolute;
  margin:50px;
  z-index:1000;
  overflow: hidden;
  @include transition(all 600ms cubic-bezier(0.620, -0.005, 0.260, 0.995));
  cursor:pointer;
  background-size: auto;
  background-repeat: no-repeat;

  &.ui-left-banner{
    left:-1%;
    top:-22px;
    background-position: left center;

    .ui-banner-full{
      left:0;
      right:auto;
      background-position: left center;
    }
  }

  &.ui-right-banner{
    right:-1%;
    top:-22px;
    background-position: right center;

    .ui-banner-full{
      right:0;
      left:auto;
      background-position: right center;
    }
  }

  &:hover{
    width: 280px;

    .ui-banner-full{
      opacity: 1;
    }
  }

  @include respondTo(laptop){
    width:125px;
  }

  @include respondTo(smallScreen){
    width:90px;
  }

  .ui-banner-full{
    height:600px;
    width:280px;
    background: rgba(#fff, 0);
    position: absolute;
    top:0;
    opacity:0;
    margin:0;
    z-index:1500;
    @include transition(all 600ms cubic-bezier(0.620, -0.005, 0.260, 0.995));
    background-size: auto;
    background-repeat: no-repeat;

    @include respondTo(laptop){
      width:280px;
    }
  }
}

angucomplete-alt{
  padding-right:20px;
}

.ui-spacer-item{
  display:inline-block;
  padding:0.5% 1.5%;
  margin: 0.5% 1.5%;
  font-size:1em;
  font-weight:400;
  vertical-align: middle;

  &.large{
    font-size:1.9em;
  }
}

.con{
  display:inline-block;
}
.block{
  display:block;
}

.ui-nav-row{
  display:block;
  padding:20px 0px;

  ul{
    display:block;
    width:auto;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 3px solid $red;
    border-bottom: 3px solid $red;
    margin-top:-3px;

    li{
      display:inline-block;
      padding: 0;
      margin: 0;

      a{
        display: inline-block;
        color:#222;
        text-decoration: none;
        padding:15px 20px;
        font-size:16px;
        line-height:16px;

        &.active{
          background: $highlight_bg;
          color: $highlight_color;
        }
      }
    }
  }
}

.ui-buttons{

  background:#313131;
  color:rgba(#fff,0.7);
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
  font-weight: 600;
  font-size:12px;
  letter-spacing: 3px;
  padding: 10px 20px;
  padding-bottom:8px;
  line-height:12px;
  margin:0;
  margin-top:20px;
  border:none;
  outline:none;
  border-bottom:2px solid rgba(#313131, 1);
  @include transition(all 0.2s ease);
  cursor: pointer;

  &:hover{
    color:rgba(#fff,1);
    border-bottom:2px solid rgba($red, 1);
  }

  &.active{
    color:rgba(#fff,0.8);
    border-bottom:2px solid rgba($red, 0.8);
  }
}

.fluid-row{
  margin:0;
  position: relative;
  padding:22px 1%;
  display:block;
  width:auto;
  z-index: 10;

  &.error{
    background:#F33;
    color:#fff;
    font-weight:700;
  }

  &.slim{
    padding:11px 1%;
  }

  &.dark{
    color:#fff;
    background: #212121;
  }

  &.secondary{

    &.fixed{
      position: fixed;
      right:0;
      top:0;

      @include respondTo(smallScreen) {
        display:none;
      }

      @include respondTo(tablet) {
        display:none;
      }

      @include respondTo(smartphone) {
        display:none;
      }
    }

  }
}

.ui-message-background{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(#fff, 1);
  z-index:9998;
  opacity:0;
  display:none;
  behavior: url('./PIE.htc');
}

.view{
  margin-top:-20px;
}

.ui-message-box{
  position: fixed;
  top:-400px;
  width:280px;
  padding:10px;
  @include calc(left, "50% - 160px");
  background:#212121;
  color:#fff;
  z-index:9999;
  @include box-shadow(rgba(#000,0.6) 0px 0px 2px);
  behavior: url('./PIE.htc');
}

.ui-message-close{
  font-size:20px;
  line-height:20px;
  cursor:pointer;
}

#autoComplete{
  width:200px;
  display:inline-block;
}

input[type="text"], input[type="password"]{
  padding:10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400;
  border: 1px solid #ACACAC;
  border-radius: 3px;
  behavior: url('./PIE.htc');

  &[name="username"]{
    margin-top:15px;
  }
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight:400;
  vertical-align: top;
}

select{
  padding:8px 15px;
  border: 2px solid #222;
  border-radius: 3px;
  behavior: url('./PIE.htc');
}

select, option{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400;
}

option{
  padding:5px 10px;
}