@import "functions";

BODY {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size: 100%;
  line-height: 1.2em;
  color: #212121;
  margin:0;
  padding:0;

  @include respondTo(desktop) { font-size: 100%; }
  @include respondTo(retina) { font-size: 110%; }
  @include respondTo(tablet) { font-size: 85%; }
  @include respondTo(smallScreen) { font-size: 95%; }
  @include respondTo(laptop) { font-size: 90%; }
  @include respondTo(smartphone) { font-size: 85%; }
}

DIV	{
  margin:0;
  padding:0;
}

A	{
  color: inherit;
}

H1,H2,H3,H4,H5,H6{
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  padding:0;
  margin:0;
}

H1{font-size:2.8em;line-height:1em;letter-spacing: 4px;}
H2{font-size:2.4em;line-height:1em;letter-spacing: 4px;}
H3{font-size:2.0em;line-height:1em;letter-spacing: 3px;}
H4{font-size:1.8em;line-height:1em;letter-spacing: 3px;}
H5{font-size:1.3em;line-height:1em;letter-spacing: 2px;}
H6{font-size:1.0em;line-height:1em;letter-spacing: 0px;}

.float-right{
  float:right;
}

.float-left{
  float:left;
}

.aligncenter{
  text-align: center;
}

.alignright{
  text-align: right;
}

.alignleft{
  text-align: left;
}

input[type="text"], input[type="password"]{
  padding:10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400;
  border: 1px solid #ACACAC;
  border-radius: 3px;
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight:400;
  vertical-align: top;
}

select{
  padding:8px 15px;
  border: 2px solid #222;
  border-radius: 3px;
}

select, option{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400;
}

option{
  padding:5px 10px;
}