@import "functions";
@import "default";

BODY {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size: 100%;
  line-height: 1.2em;
  color: #313131;
  margin:0;
  padding:0;

  @include respondTo(retina) { font-size: 125%; }
  @include respondTo(desktop) { font-size: 105%; }
  @include respondTo(smallScreen) { font-size: 95%; }
  @include respondTo(laptop) { font-size: 85%; }
  @include respondTo(tablet) { font-size: 75%; }
  @include respondTo(smartphone) { font-size: 65%; }
}

DIV	{
  margin:0;
  padding:0;
}

A	{
  color: inherit;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  padding:0;
  margin:0;
  display: block;
  line-height:1em;
}

@include header(body h1, 3.2em, #555, 4px);
@include header(body h2, 2.8em, #555, 4px);
@include header(body h3, 2.4em, #555, 3px);
@include header(body h4, 2.0em, #444, 3px);
@include header(body h5, 1.6em, #444, 2px);
@include header(body h6, 1.2em, #333, 1px);

p {
  max-width:80em;
}

.float-right{
  float:right;
}

.float-left{
  float:left;
}

.aligncenter{
  text-align: center;
}

.alignright{
  text-align: right;
}

.alignleft{
  text-align: left;
}

input[type="text"], input[type="password"]{
  padding:10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400;
  border: 1px solid #ACACAC;
  border-radius: 3px;
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight:400;
  vertical-align: top;
}

select{
  padding:8px 15px;
  border: 2px solid #222;
  border-radius: 3px;
}

select, option{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400;
}

option{
  padding:5px 10px;
}